body {
    margin: auto;
    box-sizing: border-box;
    font-size: 62.5%;
}
.frame {
    position: relative;
    background-color: pink;
    padding: 1em;
    font-family: "Digital7 Mono", Courier, sans-serif;
    font-size: 3em;
    box-shadow: .1em .1em deeppink;
    margin-top: .3em;
    min-width: 300px;
    user-select: none;
}
.display > div {
    background-color: aliceblue;
    padding-right: 1rem;
    border: blue 1px solid;
    font-weight: bold;
    word-wrap: break-word;
}
#output {
    font-size: 1.96em;
}
#input {
    font-size: 1.4em;
    user-select: none;
    font-family: "Digital7 Mono Italic", Courier, sans-serif;
}
.buttonrow {
    margin-top: .3em;
}
.button > div {
    font-size: 2em;
    color: #fff;
    background-color: lightblue;
    border: 1px solid lightblue;
    border-radius: .2em;
    cursor: pointer;
    user-select: none;
    box-shadow: .05em .1em #758f9c;
}
.button > div:hover {
    background-color: #71cecb;
    transition-duration: 400ms;
    border: 1px solid #5bce85;
}
.button > div:active,
.keyboard {
    box-shadow: -.05em -.1em pink;
    transform: translateX(.05em) translateY(.1em);
    transition-duration: 900ms;
    transition-timing-function: cubic-bezier(0,1,0,1)
}
div.number {
    background-color: lightskyblue;
}
div.number:hover {
    background-color: #5bce85;
    border: 1px solid lightblue;
}
.col-sm-6, .col-xs-12, .col-xs-3 {
    padding-right: .3em;
    padding-left: .3em;
}
@font-face {
    font-family: "Digital7 Mono";
    src: url("font/digital-7 (mono).ttf")
}
@font-face {
    font-family: "Digital7 Mono Italic";
    src: url("font/digital-7 (mono italic).ttf")
}
@media screen and (orientation: portrait){
    .container {
        margin: auto;
    }
}